<div class="election-board">
  <div class="election-board__content">
    <div>Дата создания:</div>
    <div class="bullet">{{ (createDate | date: 'd.MM.YYYY') ?? 'нет данных' }}</div>

    <div class="ml-md">Дата редактирования:</div>
    <div class="bullet">{{ (editDate | date: 'd.MM.YYYY') ?? 'нет данных' }}</div>

    <div class="ml-md">СТД:</div>
    <div class="bullet">{{ std ?? 'нет данных' }}</div>

    <div class="ml-md">Статус:</div>
    <div class="bullet">
      <app-plot-status *ngIf="status; else no" [status]="status"></app-plot-status>
    </div>
    <ng-template #no> нет данных </ng-template>
  </div>
</div>
