<app-base-table
  *ngIf="tableColumns.length > 0"
  tableTitle="Границы участка"
  [tableData]="tableData"
  [tableColumns]="tableColumns"
  [selectable]="false"
  [tableTitleActionsTemplate]="tableTitleActionsTemplate"
  [tableHeaderButtonsTemplate]="tableHeaderButtonsTemplate"
  [tableRowActionsTemplate]="tableRowActionsTemplate"
>
  <ng-template #tableTitleActionsTemplate>
    <app-base-back-button backUrl="/tvd/plots"> </app-base-back-button>
  </ng-template>
  <ng-template #tableHeaderButtonsTemplate>
    <!-- кнопка Действия -->
  </ng-template>
  <ng-template #tableRowActionsTemplate let-props> </ng-template>
</app-base-table>
