<div class="grid">
  <app-action-button
    *ngIf="addButtonOptions.length"
    label="Действия"
    suffixIconName="common-threedots-vertical"
    [gasDynamicPositioningPopup]="{
      isCloseByClickOutside: true,
      isHoverable: true,
      arrowWidth: 16,
      preferablePositions: popoverPosition,
      component: popoverMenuComponent,
      props: {
        menuItems: actionButtonOptions
      }
    }"
    (submited)="onActionOptionItemClicked($event)"
  ></app-action-button>

  <app-action-button
    *ngIf="addButtonOptions.length"
    label="Добавить"
    suffixIconName="actions-add"
    [gasDynamicPositioningPopup]="{
      isCloseByClickOutside: true,
      isHoverable: true,
      arrowWidth: 16,
      preferablePositions: popoverPosition,
      component: popoverMenuComponent,
      props: {
        menuItems: addButtonOptions
      }
    }"
    (submited)="onAddOptionItemClicked($event)"
  ></app-action-button>
</div>
