<gas-card class="ma-md" style="display:-ms-flexbox; display:flex; height: 80vh;">

  <div style="padding: 19px;">
      <p class="main_page_lyt">Рабочий стол</p>
  </div>

  <div class="grid grid-justify-start under_main_page_lyt">

    <div class="col">
      <div style="padding: 0px 0px 16px 0px;">
        <gas-card  style="margin: 0px 8px 0px 16px; padding: 31px 16px 31px 8px; ">
          <div style="padding: 0px 0px 0px 16px;">
            <div class="grid">
              <div class="col-11 grid-justify-start grid-align-end">Утверждение</div>
              <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
            </div>
          </div>
        </gas-card>
      </div>

      <gas-card  style="margin: 0px 8px 0px 16px; padding: 31px 16px 31px 8px; ">
        <div style="padding: 0px 0px 0px 16px;">
          <div class="grid">
            <div class="col-11 grid-justify-start grid-align-end">
              Подсистема экспорта ИНП
            </div>
            <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
          </div>
        </div>
      </gas-card>
    </div>


    <div class="col">
      <div style="padding: 0px 0px 16px 0px;">
        <gas-card style="margin: 0px 16px 0px 8px; padding: 31px 8px 31px 8px; ">
          <div style="padding: 0px 0px 0px 16px;">
            <div class="grid">
              <div class="col-11 grid-justify-start">Промотр дат</div>
              <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
            </div>
          </div>
        </gas-card>
      </div>

      <gas-card style="margin: 0px 16px 0px 8px; padding: 31px 8px 31px 8px; ">
        <div style="padding: 0px 0px 0px 16px;">
          <div class="grid">
            <div class="col-11 grid-justify-start grid-align-end">
              Просмотр событий
            </div>
            <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
          </div>
        </div>
      </gas-card>
    </div>
  </div>
</gas-card>


