@devsun:registry=https://nexus.devsun.ru/repository/npm-private/
@microfrontend:registry=https://nexus.devsun.ru/repository/npm-private/
email=jenkins@systematica-consulting.ru
registry=https://nexus.devsun.ru/repository/npm-group/
