<app-base-page-wrapper xmlns="http://www.w3.org/1999/html">
  <app-base-table
    *ngIf="tableColumns.length > 0"
    tableTitle="Техническое оснащение"
    dataType="query"
    [tableData]="filteredValue"
    [tableColumns]="tableColumns"
    [loading]="!!(loading$ | async)"
    [pagination]="pagination"
    [tableTitleActionsTemplate]="tableTitleActionsTemplate"
    [tableBodyTemplate]="tableBodyTemplate"
    [tableRowTemplate]="tableRowTemplate"
    [tableHeaderButtonsTemplate]="tableHeaderButtonsTemplate"
    [routerIntegration]="true"
    [showSearch]="true"
    [showSettingsButton]="false"
    (updateData)="fetchPlots($event)"
    class="table"
  >
    <ng-template #tableHeaderButtonsTemplate></ng-template>
    <ng-template #tableBodyTemplate let-tableBodyProps>
      <tr class="base-table-row table__head table__divider_bottom">
        <ng-template ngFor [ngForOf]="tableBodyProps.cols" let-column>
          <th
            app-base-table-sortable-cell
            *ngIf="column.sortable && !column.hidden; else defaultCell"
            [column]="column"
            class="hide-settings"
          ></th>
          <ng-template #defaultCell>
            <th class="base-table-cell hide-settings" *ngIf="!column.hidden">
              <div class="th">
                <gas-checkbox
                  *ngIf="checkedKeys.includes(column.name)"
                  style="height: 16px"
                  [indeterminate]="$any(checkedAll)[column.name] === undefined"
                  [checked]="$any(checkedAll)[column.name]"
                  (click)="checkboxClickHandlerAll(column.name)"
                ></gas-checkbox>
                {{ column.title }}
              </div>
            </th>
          </ng-template>
        </ng-template>
        <th></th>
      </tr>

      <ng-template ngFor [ngForOf]="tableBodyProps.rows" let-row let-i="index">
        <tr
          app-base-table-row-main
          class="base-table-row base-table-row__main"
          [tableRowTemplate]="tableRowTemplate"
          [row]="row"
          [selectable]="tableBodyProps.selectable"
          [cols]="tableBodyProps.cols"
          [class.base-table-row__divider_bottom]="i !== tableBodyProps.rows.length - 1"
        ></tr>
      </ng-template>
    </ng-template>

    <ng-template #tableTitleActionsTemplate>
      <app-base-back-button backUrl="/tvd/plots" title="Техническое оснащение"> </app-base-back-button>
    </ng-template>

    <ng-template #tableRowTemplate let-props>
      <ng-template ngFor [ngForOf]="props.iterableRow" let-iterableItem let-i="index">
        <ng-container *ngIf="iterableItem.key === 'name'; else def">
          <td app-base-table-td [value]="iterableItem" [row]="props.row"></td>
        </ng-container>
        <ng-template #def>
          <td app-base-table-td>
            <gas-checkbox
              style="height: 16px"
              [checked]="$any(checked)[props.row.data.id]?.[iterableItem.key]"
              (click)="checkboxClickHandler(props.row.data.id, iterableItem.key)"
            ></gas-checkbox>
          </td>
        </ng-template>
      </ng-template>
      <td app-base-table-td>
        <div
          gasButton="secondary"
          [iconSize]="22"
          [color]="colorType.Negative"
          (click)="deletePlot(props.row.data.id)"
          suffixIconName="cool-trash-empty"
          class="ph-sm"
        ></div>
      </td>
    </ng-template>
  </app-base-table>
</app-base-page-wrapper>
