<ng-container *ngIf="{ isMenu: isMenu$ | async } as observables">
  <div *ngIf="observables.isMenu" class="gas-layout__menu">
    <app-base-drawer #drawerMenu></app-base-drawer>
  </div>

  <div [class.gas-layout__body_menu]="observables.isMenu" class="gas-layout__body">
    <ng-container *ngIf="topComponent$ | async as topComponent">
      <ng-template [ngTemplateOutlet]="topComponent"></ng-template>
    </ng-container>

    <div class="gas-layout__header">
      <div *ngIf="headerRole">
        <ng-container *ngComponentOutlet="headerRole"></ng-container>
      </div>
      <app-base-header>
        <ng-container>
          <ng-template [ngTemplateOutlet]="headerBottomComponent$ | async"></ng-template>
        </ng-container>
      </app-base-header>
    </div>

    <div class="gas-layout__wrapper">
      <ng-content></ng-content>
    </div>

    <ng-container *ngIf="botComponent$ | async as botComponent">
      <ng-template [ngTemplateOutlet]="botComponent"></ng-template>
    </ng-container>
  </div>
</ng-container>
