.current-status {
  position: relative;
  display: flex;
  align-items: center;
}
.current-status::before {
  content: '';
  margin-right: 6px;
  width: 8px;
  height: 8px;
  background: #41D994;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
