<app-base-table
  *ngIf="tableColumns.length > 0"
  tableTitle="Участки"
  dataType="query"
  [tableData]="filteredValue"
  [tableColumns]="tableColumns"
  [selectable]="true"
  [loading]="loading"
  (rowClick)="onRowClick($event)"
  (selectedChange)="onSelectedChange($event)"
  [(pagination)]="pagination"
  [tableHeaderButtonsTemplate]="tableHeaderButtonsTemplate"
  [tableTitleActionsTemplate]="tableTitleActionsTemplate"
  [tableRowActionsTemplate]="tableRowActionsTemplate"
  [tableRowTemplate]="tableRowTemplate"
  [routerIntegration]="true"
  [showSearch]="true"
  (updateData)="fetchPlots($event)"
>
  <ng-template #tableTitleActionsTemplate>
    <app-base-back-button backUrl="/tvd/plots"> </app-base-back-button>
  </ng-template>
  <ng-template #tableHeaderButtonsTemplate let-props>
    <app-plots-header-actions></app-plots-header-actions>
  </ng-template>
  <ng-template #tableRowTemplate let-props>
    <ng-template ngFor [ngForOf]="props.iterableRow" let-iterableItem let-i="index">
      <ng-container [ngSwitch]="iterableItem.key">
        <td app-base-table-td *ngSwitchCase="'dataType'">
          {{ dataTypesMap[iterableItem.value] }}
        </td>
        <td app-base-table-td *ngSwitchCase="'plotsType'">
          {{ getPlotType(iterableItem) }}
        </td>
        <td app-base-table-td *ngSwitchCase="'technical'">
          {{ getTechnicals(props.row.data) }}
        </td>
        <td app-base-table-td *ngSwitchCase="'std'">
          {{ props.row.data.std?.STDID }}
        </td>
        <td app-base-table-td *ngSwitchCase="'isAllowedStd'">
          <div
            class="allowed-std__link"
            *ngIf="isAllowedStd(props.row.data)"
            [gasPopover]="{
              props: {
                description: props.row.data.name + ' принадлежит СТД ' + props.row.data.std?.STDID,
                headerTemplate: empty
              },
              isHoverable: true
            }"
          >
            <gas-icon name="cool-long-bottom-down" [color]="'var(--base-priority-medium)'" [size]="16"></gas-icon>
          </div>
        </td>
        <td app-base-table-td *ngSwitchCase="'isActive'">
          <app-plot-status [status]="getStatus(props.row.data)"></app-plot-status>
        </td>
        <td app-base-table-td *ngSwitchCase="'value'">
          <app-plots-value [model]="iterableItem.value" [type]="props.row.data.dataType"></app-plots-value>
        </td>
        <td app-base-table-td *ngSwitchDefault [value]="iterableItem" [row]="props.row"></td>
      </ng-container>
    </ng-template>
  </ng-template>
  <ng-template #tableRowActionsTemplate let-props>
    <app-plots-list-row-actions [rowProps]="props" (checkPlot)="checkPlot($event)"></app-plots-list-row-actions>
  </ng-template>
  <ng-template #empty></ng-template>
</app-base-table>
