@import '../../../../styles/variables';

.allowed-std {
  &__link {
    background: #E0F0FF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
