<app-base-modal [(visible)]="visible" [persistent]="persistent" [rightSide]="true">
  <app-base-modal-default-layout [rightSide]="true">
    <ng-container header>
      <div class="header">
        <div class="header__title">{{ !territoryId ? 'Новая территория' : 'Просмотр территории' }}</div>
        <div class="header__close" (click)="onHideModal()">
          <gas-icon name="notifications-close" [size]="20"></gas-icon>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <app-form-generator
        *ngIf="formGeneratorSchema"
        [meta]="formGeneratorSchema"
        [model]="formGeneratorModel"
        [mode]="formGeneratorMode"
        [disableChangedHighlight]="true"
      >
      </app-form-generator>
    </ng-container>
    <ng-container footer>
      <app-base-modal-default-footer>
        <div class="footer">
          <div class="mr-sm" gasButton="secondary" (click)="onHideModal()">Отменить</div>
          <div *ngIf="createMode" gasButton="primary" (click)="submit()">Добавить</div>
        </div>
      </app-base-modal-default-footer>
    </ng-container>
  </app-base-modal-default-layout>
</app-base-modal>

<ng-template #preloader>
  <div gasButton="primary" loading class="ph-lg" [disabled]="true"></div>
</ng-template>
