<app-base-table
  *ngIf="tableColumns.length > 0"
  tableTitle="Территории"
  dataType="query"
  [tableData]="filteredValue"
  [tableColumns]="tableColumns"
  [selectable]="true"
  [loading]="loading"
  (selectedChange)="onSelectedChange($event)"
  [(pagination)]="pagination"
  [tableHeaderActionsTemplate]="tableHeaderActionsTemplate"
  [tableHeaderButtonsTemplate]="tableHeaderButtonsTemplate"
  [tableTitleActionsTemplate]="tableTitleActionsTemplate"
  [tableRowActionsTemplate]="tableRowActionsTemplate"
  [tableRowTemplate]="tableRowTemplate"
  [routerIntegration]="true"
  [showSearch]="true"
  (rowClick)="onRowClick($event)"
  (updateData)="fetchTerritories($event)"
>
  <ng-template #tableTitleActionsTemplate>
    <app-base-back-button backUrl="/tvd/plots"> </app-base-back-button>
  </ng-template>
  <ng-template #tableHeaderActionsTemplate let-props>
    <app-territories-header-actions
      [disabled]="true"
      (onAction)="onActionMenuItemClickHandler($event)"
    ></app-territories-header-actions>
  </ng-template>
  <ng-template #tableHeaderButtonsTemplate let-props>
    <app-action-button
      label="Добавить"
      suffixIconName="actions-add"
      (click)="showTerritoryCreateModal()"
    ></app-action-button>
  </ng-template>
  <ng-template #tableRowTemplate let-props>
    <ng-template ngFor [ngForOf]="props.iterableRow" let-iterableItem let-i="index">
      <ng-container [ngSwitch]="iterableItem.key">
        <td app-base-table-td *ngSwitchCase="'dataType'">
          {{ dataTypesMap[iterableItem.value] }}
        </td>
        <td app-base-table-td *ngSwitchCase="'std'">
          {{ props.row.data.std?.STDID }}
        </td>
        <td app-base-table-td *ngSwitchCase="'value'">
          <app-territories-value [model]="iterableItem.value" [type]="props.row.data.dataType"></app-territories-value>
        </td>
        <td app-base-table-td *ngSwitchDefault [value]="iterableItem" [row]="props.row"></td>
      </ng-container>
    </ng-template>
  </ng-template>
  <ng-template #tableRowActionsTemplate let-props>
    <app-territories-list-row-actions
      [rowProps]="props"
      (checkTerritory)="showTerritoryCreateModal($event)"
    ></app-territories-list-row-actions>
  </ng-template>
</app-base-table>

<app-territories-create-modal
  *ngIf="territoryCreateModalVisible"
  [visible]="territoryCreateModalVisible"
  [territoryId]="selectedTerritoryId"
  (visibleChange)="closeTerritoryCreateModal()"
  (submittedEvent)="onCreateTerritory()"
>
</app-territories-create-modal>
